
/* Generic styling */

:root{
  --main-pg-bg:#ffdfdf;
  --nav-bar-bg:#066060;
  --nav-bar-txt:#ddd;
  --title:#D94e4e;
  --btn-hover:#066060;
  --main-btn-color:white;
  --summary-bg:#fff2f2;
  --review-bg:#fff2f2;
  --page-bg:#ededed;
}

body {
    margin: 2em auto;
    /*max-width: 40rem;*/
    /*max-width:75%;*/
    width:75%;
    color: #454545;
    font-family: arial;
    background-color=var(--page-bg);
}

.body-div {
  background-color:var(--main-pg-bg);
  box-sizing: border-box;
  padding:15px;
  border-radius:15px;
}

.main, a, body, .main-button { font-family: Georgia, Times, "Times New Roman", serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.399999618530273px; } h3 { font-family: Georgia, Times, "Times New Roman", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.399999618530273px; } p { font-family: Georgia, Times, "Times New Roman", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Georgia, Times, "Times New Roman", serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Georgia, Times, "Times New Roman", serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.571430206298828px; }

a {
    color: var(--title);
}

/* Style the embedded Google Forms */

iframe {
  flex: 1;
  border:none;
}

article {
  display: flex;
  width:100%;
}

/* Style the header */

header a {
    text-decoration: none;
}

header #title {
    font-size: 1.8em;
    width:50%;
}

header #page-title {
    margin-left: 1em;
    font-size: 1.4em;
    font-style: italic;
}

/* Style the navigation bar */

header nav {
    background-color: var(--nav-bar-bg);
    margin: -1em 0em 0em 0em;
    padding: 6px;
    height:3em;
    display:flex;
    justify-content:center;
    border-radius:15px;
    width:100%;
}

header nav a {
    color: var(--nav-bar-txt);
    padding: 3px 16px 3px 3px;
    font-size:.75em;
    transition:transform .2s;
    font-family: lora, serif;
    margin-right:15px;
}

.nav-div{
  display:flex;
  align-items: center;
}

header nav a:hover {
    color: #fff;
    transform:scale(1.25);
}

/* Style the search form */

header form {
    margin: 1em 0em 1em 0em;
}

header form input {
    padding: 0.5em;
    width: 85%;
}

header form button {
    padding: 0.5em;
    float: right;
}

.main-feedback {
  min-height:25em;
  max-height:75em;
  display:flex;
}
.main {
  /*max-height: 50em; */
}


/* button theming, generic and specific */
.main-button {
  border-radius:25px;
  max-width:1000px;
  background-color:var(--main-btn-color);
  box-shadow:none;
  border-color:#454545;
  border-width:1px;
  border-style:solid;
  font-size:13px;
}

#searchButton:hover {
  background-color:var(--btn-hover);
  color:white;
}


/* Styling for Review boxes */

.reviewDiv{
  padding-top:10px;
  background-color:var(--review-bg);
  box-sizing: border-box;
  padding:15px;
  border-radius:15px;
}

.reviewHeader{
  display:flex;
}

.rhe {
  margin-left:15px;
}

.reviewBody{
}

/* Override styling for smaller screens */

@media screen and (max-device-width: 720px) {
    /* General */
    body {
        all: reset;
        margin: 0.25em;
    }

    /* Title */
    header #page-title {
        text-align: right;
        display: block;
    }

    /* Navigation bar */
    header nav a {
        display: block;
    }

    /* Search input */
    /* FIXME: this will cause the input box and button to overlap on really
     * small screens.  I tried reseting everything, setting the input to 100%,
     * and telling the button to display: block, but that just cause
     * everything to overrun the page off to the right. */
    header form input {
        width: 75%;
    }
}

/*styling for the overview screen*/

.overviewItem{
  background-color:var(--summary-bg);
  display:flex;
  box-sizing: border-box;
  padding:15px;
  border-radius:15px;
}

.overviewHeader{
  font-size:1.5em;
  font-weight:bold;
  margin-left:3px;
  flex:1;
  font-family: lora, serif;
}

.overviewBody{
  margin-left:15px;
  flex:4;
}

.overviewPicture{
  flex:1;
}
.profPicture{
  max-width:100px;
  max-height:100px;
}
.overviewMember{
  font-size: .6em;
}

/*TABLE Styling and CSS*/

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
}
h2{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 30px 30px;
    /* box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 ); */
}

.fl-table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
